DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mypetstore_grooming?schema=public"
NEXT_PUBLIC_SUPABASE_URL="https://obiejdyuoqtgtxhyyphh.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_oTU5AwXEjIJbjNwct5SBSQ_QIbxaHLs"
