DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mypetstore_grooming?schema=public"
SUPABASE_SERVICE_ROLE_KEY=""
EMAIL_PROVIDER="gmail"
EMAIL_FROM_NAME="Miranda's Pet Boutique"
GMAIL_USER="vafm98@gmail.com"
GMAIL_APP_PASSWORD="example"
NEXT_PUBLIC_SUPABASE_URL="https://obiejdyuoqtgtxhyyphh.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_oTU5AwXEjIJbjNwct5SBSQ_QIbxaHLs"
